@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

* {
  font-family: "Roboto", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100vw;
  height: 70%;
}
nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-left: 3em;
  padding-right: 3em;
}

header nav .nav-container--logos {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .icons-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .icons {
  justify-items: flex-end;
  justify-content: space-between;
  align-items: center;
  justify-self: end;
}
header .hero-container {
  background-image: url("../assets/hero2.jpg");
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

header .hero-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 6.6em;
}

header section .hero-title h1 {
  font-size: 3.2em;
  margin-bottom: 0;
}

header section .hero-title p {
  font-size: 1.8em;
  color: black;
  margin-top: 0;
}

header section .hero-title button {
  background-color: black;
  color: white;
  border-radius: 0.4em;
  width: 12em;
  height: 2em;
  font-size: 1em;
}

main {
  width: 100vw;
}
main h2 {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 5%;
  font-size: 3.2em;
}

main .container-sales {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
main .main-container--sales {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*  grid-template-rows: 2fr; */
  grid-column-gap: 1.5%;
  margin-bottom: 20px;
}

main .main-container--sales h3 {
  margin-top: 2%;
  margin-bottom: 5%;
}
main .container-form {
  /*  padding-left: 10em;
  padding-right: 8em; */
  flex-direction: column;
  justify-content: center;
}
main .container-form .container-background {
  background-image: url("../assets/form-backgroud.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
}
main form {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 2%;
  height: 180px;
  border: 0;
  margin-bottom: 2%;
}

main form h3 {
  margin-bottom: 2%;
  font-size: 1.5em;
}

main form input {
  border-radius: 5px;
  width: 50%;
  border: 0;
  margin-bottom: 1%;
  align-items: initial;
  padding: 0.5em 0.5rem;
  border: 0;
  font-weight: 600;
}

main form button {
  background-color: black;
  color: white;
  border-radius: 0.4em;
  width: 12em;
  height: 2em;
  font-size: 1em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  width: 100vw;
  text-align: center;
  height: 130px;
  font-weight: bold;
}
